*{margin:0;padding: 0;}
body,html{height: 100%;height:100%}
@media(max-width: 1500px){
	#app{
		box-shadow: 5px 5px 18px #333;
		margin:0 auto;
		width: 60%;
		height: 90%;
		background-color: #f9f9f9;
		box-sizing:border:box;
		padding: 10px;
		text-align: center;

	}
	.CommentInput{
	  width: 80%;	
	  border:1px solid #f1f1f1;
	  font-weight: normal;
	  margin: 13px auto;
	  height: 160px;
	  font-size: 14px;
	  background-color: #fff;
	  padding: 30px 20px 80px 20px;
	  /*padding-top: 30px;*/
	  text-align: center;
	  position: relative;
	  color:gray;
	}
	.CommentInput div button{
		padding: 6px 20px;		
		float: right;
		margin-right: 9%;
		border: none;
		background-color: lightblue;
		border-radius: 3px;
		color: white;

	}
	.CommentInput div input{
	 	border:1px solid #a1a1a1;
		vertical-align: middle;
		width: 70%;
		height: 30px;
		text-indent: .3em;

	}
	.CommentInput div textarea{
	  	border:1px solid #a1a1a1;
		text-indent: .3em;
		resize:none;
	    /*border-radius: 6px;*/
	    /*padding: 5px;*/
	    font-size: 18px;
		vertical-align: middle;
		width: 70%;
		

	}
	/*评论展示框*/
	.CommentList{
		width: 80%;
		overflow: auto;
		height: 240px;
		margin:0 auto;
		display: inline-block;
		text-align: center;
	  	border:1px solid #f1f1f1;
	  	background-color: #fff;
		padding: 20px;
	}
}
@media(max-width: 540px){
		#app{
			box-shadow: 5px 5px 18px #333;
			margin:0 auto;
			width: 100%;
			height: 90%;
			padding: 0px;
			/*border:1px solid red;*/
			background-color: #f9f9f9;
			box-sizing:border:box;
			/*padding: 10px;*/
			/*text-align: center;*/

		}
		.CommentInput{
		  width: 100%;	
		  border:1px solid #f1f1f1;
		  font-weight: normal;
		  margin: 0px auto;
		  height: 180px;
		  font-size: 14px;
		  background-color: #fff;
		  padding: 30px 0px 80px 0px;
		  /*padding-top: 30px;*/
		  text-align: center;
		  position: relative;
		  color:gray;
		}
		.CommentInput div button{
			padding: 6px 0px;		
			margin-right: 0px;
			width: 100%;
			border: none;
			background-color: lightblue;
			border-radius: 3px;
			color: white;

			/*padding: 10px 50px;*/
			/*margin-right: 70px*/
		}
		.CommentInput div input{
		 	border:1px solid #a1a1a1;
			vertical-align: middle;
			width: 100%;
			height: 30px;
			text-indent: .3em;
		}
		.CommentInput div textarea{
		  	border:1px solid #a1a1a1;
			text-indent: .3em;
			resize:none;
		    /*border-radius: 6px;*/
		    /*padding: 5px;*/
		    font-size: 18px;
			vertical-align: middle;
			width: 100%;
			

		}
		.CommentList{
			width: 100%;
			overflow: auto;
			height: 240px;
			margin:0 auto;
			display: inline-block;
			text-align: center;
		  	border:1px solid #f1f1f1;
		  	background-color: #fff;
			padding: 0px;
		}
}

/*评论输入框*/

.CommentInput h2{
	margin-bottom: 30px;
}
.CommentInput div{
	text-align: left;
	margin-top: 50px;
	/*border:1px solid red;*/
	margin: 20px auto;
	width: 60%;

}
.CommentInput div label{
	/*color: skyblue;*/
	display: inline-block;
	/*padding-right:156px;*/
	/*margin:14px auto;*/
	margin-right: 20px;
	/*border: 1px solid red;*/
	vertical-align: top;
	font-size: 14px;
	width: 60px;

}


.comment{
	width: 60%;
	text-align: left;
	/*background-color: #f9f9f9;*/
	/*margin:10px auto;*/
	padding:6px 0;
	margin:6px 0;
	display: inline-block;
	/*margin-bottom: 10px;*/
	cursor: pointer;
	position: relative;
	border-bottom:1px dashed gray;

	
}
.comment label{
	color:#666;
	font-style: italic;
	color:skyblue;
	vertical-align: top;
	
}
.comment span{
	color:#333;
	margin: 0 20px;
	display: inline-block;
	width: 60%;
}
.comment em{
	position: absolute;
	right: 50px;
	font-size: 12px;
}
.comment a{
	display: none;
	float: right;
	color:gray;
	text-decoration: none;
	content: #333;
	margin-right: 10px;
	font-size: 12px;
}
.comment:hover{
	background-color:rgba(0,0,0,.1);
}
.comment:hover>a{
	display: inline-block;

	opacity: 1;
}